    <!-- CB --><div id="%folio%" class="contrablock %watermark%%metodopago0%" wrmrk="%watermark% %metodopago0%" cdprv="%codigo%" fecha="%fecha%" tmstp="%timestamp0%" total="%total0%">
      <span class="whiteshown"> </span>
      <p class="hg26"><B>FOLIO</B>: %folio%</p>
      <p class="hg26"><B>EMPRESA</B>: (%alias%) %razonSocial%</p>
      <p class="hg26"><B>PROVEEDOR</B>: (%codigo%) %proveedor% &nbsp; &nbsp; <B class="creditDays">%credito%</B><span class="clear"></span></p>
      <p class="hg26"><span class="vAlignCenter"><B>BANCO</B>: </span><span class="noFlow nooverfix ellipsis wid350px vAlignCenter">%banco%</span><span class="vAlignCenter">&nbsp;<B>CLABE</B>: %clabe%</span></p>
      <p class="hg26 centered" id="title-cr">CONTRA-RECIBO %watermark%</p>
      <p class="hg26"><B>FECHA REVISION</B>: %fecha%</p>
      <p><B>FACTURAS</B>:</p>
      %facturas%
      <p><b>TOTAL</b>: %total% <span class="fontImportant">%metodopago%</span></p>
      %FIRMAS%
      <br>
      <span class="fontImportant">%fechaPago%</span>
      <br>
      <svg id="bcod" class="bgwhite7"></svg>
      <div id="firstPageCover">%timestamp%</div>
    </div>
