<!-- csp5 --><div id="contenedor" style="margin:0 auto;text-align:center; background-image:url(%HOSTNAME%imagenes/fondos/corrugatedbox9wm.jpg); background-repeat:repeat;color:#008;font-size:14px;font-family:Tahoma,Arial,sans-serif;width:100%;">
    <div id="encabezado" style="width: 100%;height:98px;">
        <div id="head_logo" style="margin:0 auto;text-align:center;float:left;width:98px;height:96px;padding:0px 0px 2px 0px;"><a href="%HOSTNAME%" target="_self" width="96" height="96" style="display:inline-block;"><img src="%HOSTNAME%imagenes/logos/invoiceCheck.png" width="96" height="96" alt="Invoice Check" longdesc="Logo InvoiceCheck"></a></div>
        <div id="head_main" style="float:left;width:calc(100% - 98px);height:86px;margin-top:10px;"><h1 style="text-align:center;font-size:28px;font-weight:700;">Validaci&oacute;n de Facturas Electr&oacute;nicas</h1></div>
    <br class="clear">
  </div>
  <h2 style="font-weight:700;font-size:24px;">SOLICITUD DE PAGO %SOLFOLIO%</h2>
  %RESPUESTA%
  <table style="margin:0 auto;width:500px;">
    <colgroup><col width="150px"><col width="100px"><col width="150px"><col width="100px"></colgroup>
    <tr><td colspan="4"><div style="text-align:center;"><A href="%HOSTNAME%consultas/Facturas.php?action=requestProofOfPayment&token=%ANEXAR%" style="background-color:#d0d0d0;padding: 0px 7px 0.5px;margin:2px;border-radius:2px;border:1px solid gray;text-decoration:none;color:#008;font-weight:bold;" onmouseenter="this.style.backgroundColor='#d0c0c0';this.style.color='#400';" onmouseleave="this.style.backgroundColor='#d0d0d0';this.style.color='#008';">ANEXAR COMPROBANTE</A>&nbsp;<A href="%HOSTNAME%consultas/Facturas.php?action=responseSetPaidRequest&token=%PAGAR%" style="background-color:#d0d0d0;padding: 0px 7px 0.5px;margin:2px;border-radius:2px;border:1px solid gray;text-decoration:none;color:#008;font-weight:bold;" onmouseenter="this.style.backgroundColor='#c0d0c0';this.style.color='#040';" onmouseleave="this.style.backgroundColor='#d0d0d0';this.style.color='#008';">MARCAR PAGADO</A></div></td></tr>
  </table>
</div>
