<!doctype html>
<HTML xmlns="http://www.w3.org/1999/xhtml">
<HEAD><!-- cp -->
    <META charset="utf-8">
    <BASE href="%HOSTNAME%"><!-- %BASEURI% -->
    <SCRIPT src="scripts/general.js?v=3.3"></SCRIPT>
    <LINK href="css/general.php" rel="stylesheet" type="text/css">
    <SCRIPT>
        var now=new Date();
        startInterval();
    </SCRIPT>
</HEAD>
<BODY>
    <DIV id="contenedor" class="centered">
        <div id="encabezado">
            <div id="head_logo" class="centered"><a href="%HOSTNAME%" target="_self" width="96" height="96" style="display:inline-block;"><img src="imagenes/logos/invoiceCheck.png" width="96" height="96" alt="Invoice Check" longdesc="Logo InvoiceCheck"></a></div>
            <div id="head_main"><h1 class="centered">Validación de Facturas Electrónicas del Corporativo</h1></div>
        <br class="clear">
      </div>
        El proveedor %PERSONA% ($USUARIO%) ha actualizado sus documentos y requiere sean verificados.<br>Por favor ingrese al portal para verificar los documentos.
    </DIV>
</BODY>
</HTML>